In [1]:
import pandas as pd
import sys, os

In [35]:
from py_modules import skytra_noeffect_test, bq_helper as bqh

In [36]:
i1_uni = {"region_pair":"region_pair","first_flight_date":"first_flight_date"}
i1_cat = {}
i1_con = {"iata_index":"iata_index",
          "iata_rpk":"iata_rpk",
          "skytra_rpk":"skytra_rpk",
          "iata_tickets":"iata_tickets",
         "skytra_tickets":"skytra_tickets",
          "skytra_coverage":"skytra_coverage",
          "skytra_index_unadjusted":"skytra_index_unadjusted",
          "skytra_index_adjusted":"skytra_index_adjusted",
          "divisor_value":"divisor_value",
          "skytra_index":"skytra_index"
         }

In [27]:
dfResult = skytra_noeffect_test.test_table( "skytra-benchmark-devandtest.index.X7_PROD", "skytra-benchmark-devandtest.index.X7",
                                           i1_uni, i1_cat, i1_con, p_filter = "WHERE first_flight_date <= '2020-08-23'")
dfResult

Test underway...
Test failed with 32299 errors

,id,test,nb_errors,per_error
0,1,Missing rows from skytra-benchmark-devandtest....,0,0.000000
1,2,Missing rows from skytra-benchmark-devandtest....,0,0.000000
2,3,Duplicated rows from skytra-benchmark-devandte...,0,0.000000
3,4,Duplicated rows from skytra-benchmark-devandte...,0,0.000000
4,5,Column iata_index differs,2,0.006436
5,6,Column iata_rpk differs,656,2.111158
6,7,Column skytra_rpk differs,589,1.895536
7,8,Column iata_tickets differs,6,0.019309
8,9,Column skytra_tickets differs,6,0.019309
9,10,Column skytra_coverage differs,6,0.019309
10,11,Column skytra_index_unadjusted differs,0,0.000000
11,12,Column skytra_index_adjusted differs,0,0.000000
12,13,Column divisor_value differs,0,0.000000
13,14,Column skytra_index differs,31034,99.874489

In [24]:
for i in dfResult.test:
    print(i)

Missing rows from skytra-benchmark-devandtest.index.X7_PROD
Missing rows from skytra-benchmark-devandtest.index.X7
Duplicated rows from skytra-benchmark-devandtest.index.X7_PROD
Duplicated rows from skytra-benchmark-devandtest.index.X7
Column iata_index differs
Column iata_rpk differs
Column skytra_rpk differs
Column iata_tickets differs
Column skytra_tickets differs
Column skytra_coverage differs
Column skytra_index_unadjusted differs
Column skytra_index_adjusted differs
Column divisor_value differs
Column skytra_index differs

In [ ]:
dfDiff = skytra_noeffect_test.show_diff( "skytra-benchmark-devandtest.index.X7_PROD", "skytra-benchmark-devandtest.index.X7",
                                           i1_uni, i1_cat, i1_con, p_filter = "WHERE first_flight_date <= '2020-08-23'")
dfDiff

In [39]:
dfResultMini = skytra_noeffect_test.test_table( "skytra-benchmark-devandtest.index.X7_PROD", "skytra-benchmark-devandtest.index.X7",
                                           i1_uni, i1_cat, i1_con, p_filter = "WHERE first_flight_date = '2020-01-01'")
dfResultMini

Test underway...
Test failed with 21 errors

,id,test,nb_errors,per_error
0,1,Missing rows from skytra-benchmark-devandtest....,0,0.000000
1,2,Missing rows from skytra-benchmark-devandtest....,0,0.000000
2,3,Duplicated rows from skytra-benchmark-devandte...,0,0.000000
3,4,Duplicated rows from skytra-benchmark-devandte...,0,0.000000
4,5,Column iata_index differs,1,3.333333
5,6,Column iata_rpk differs,3,10.000000
6,7,Column skytra_rpk differs,3,10.000000
7,8,Column iata_tickets differs,3,10.000000
8,9,Column skytra_tickets differs,3,10.000000
9,10,Column skytra_coverage differs,3,10.000000
10,11,Column skytra_index_unadjusted differs,0,0.000000
11,12,Column skytra_index_adjusted differs,0,0.000000
12,13,Column divisor_value differs,0,0.000000
13,14,Column skytra_index differs,5,16.666667

In [41]:
dfDiffMini = skytra_noeffect_test.show_diff( 
    "skytra-benchmark-devandtest.index.X7_PROD", 
    "skytra-benchmark-devandtest.index.X7",
    i1_uni, i1_cat, 
    #{'skytra_index':'skytra_index'}, 
    i1_con,
    p_filter = "WHERE first_flight_date = '2020-01-01'")

dfDiffMini

,region_pair,first_flight_date,iata_index_1,iata_index_2,iata_rpk_1,iata_rpk_2,skytra_rpk_1,skytra_rpk_2,iata_tickets_1,iata_tickets_2,...,skytra_coverage_1,skytra_coverage_2,skytra_index_unadjusted_1,skytra_index_unadjusted_2,skytra_index_adjusted_1,skytra_index_adjusted_2,divisor_value_1,divisor_value_2,skytra_index_1,skytra_index_2
0,World-World,2020-01-01,0.065983,0.065980,3.170176e+09,3.170978e+09,2.927328e+09,2.928101e+09,1029642.0,1029678.0,...,92.448929,92.449096,None,0.110348,None,0.100448,None,1.000000,0.110352,0.100448
1,Skytra-World,2020-01-01,0.069438,0.069431,2.172865e+09,2.173667e+09,2.010752e+09,2.011526e+09,828227.0,828263.0,...,91.754676,91.754914,None,0.110667,None,0.096369,None,1.000000,0.110672,0.096369
2,Europe-North America,2020-01-01,0.043146,0.043146,1.115009e+08,1.115009e+08,1.042482e+08,1.042482e+08,8358.0,8358.0,...,94.221106,94.221106,None,0.109704,None,0.109704,None,0.924214,0.109704,0.118700
3,Asia/Pacific-North America,2020-01-01,0.045472,0.045490,2.988790e+08,2.996808e+08,2.863616e+08,2.871354e+08,15823.0,15859.0,...,96.340770,96.342771,None,0.088230,None,0.078834,None,0.924214,0.088207,0.085299
4,North America-North America,2020-01-01,0.094456,0.094456,4.484355e+08,4.484355e+08,4.414162e+08,4.414162e+08,163753.0,163753.0,...,98.635750,98.635750,None,0.135673,None,0.075516,None,0.924214,0.135673,0.081708

In [42]:
dfResultMiniNoEffect = skytra_noeffect_test.test_table( 
    "skytra-benchmark-devandtest.index.X7_PROD", 
    "skytra-benchmark-devandtest.index.X7",
    i1_uni, i1_cat, i1_con, p_filter = "WHERE first_flight_date = '2020-08-20'")

dfResultMiniNoEffect

Test underway...
Test passed

,id,test,nb_errors,per_error
0,1,Missing rows from skytra-benchmark-devandtest....,0,0.0
1,2,Missing rows from skytra-benchmark-devandtest....,0,0.0
2,3,Duplicated rows from skytra-benchmark-devandte...,0,0.0
3,4,Duplicated rows from skytra-benchmark-devandte...,0,0.0
4,5,Column iata_index differs,0,0.0
5,6,Column iata_rpk differs,0,0.0
6,7,Column skytra_rpk differs,0,0.0
7,8,Column iata_tickets differs,0,0.0
8,9,Column skytra_tickets differs,0,0.0
9,10,Column skytra_coverage differs,0,0.0
10,11,Column skytra_index_unadjusted differs,0,0.0
11,12,Column skytra_index_adjusted differs,0,0.0
12,13,Column divisor_value differs,0,0.0
13,14,Column skytra_index differs,0,0.0

In [5]:
# sys.path.append(os.path.join('..','py_modules'))
# pth_git = 'C:\git\index2\af\dags\sq'  # >> 'C:\\git\\index2\x07f\\dags\\sq\\x7.sql'
pth_git = 'C:\\git\\index2\\af\\dags\\sq'
with  open(os.path.join(pth_git,"x7.sql"), "r") as qfile:
    qsql = qfile.read()
    print(qsql)

---------------------------------------------------------------------------------------------------
-- INDEX      : X7
-- Query name : X7
-- Authors    : B KASSE, D TWEED
---------------------------------------------------------------------------------------------------
-- Inputs     : %%X6%%
--            : %%spot_window%%	 (generic.spot_window_regions_ext)
-- Output     : %%X7%%
---------------------------------------------------------------------------------------------------
-- final calculation of the index for each flown date and region_pair
-- Inlude IATA flown index
-- Combo flown index based and minimum price found
-- flight_date filter according to spot window
-- iata_rpk weighting by nleg of combo index
-- matched ticked count by direct/indirect and classfull/classless
-- Reference: I1 to I4
---------------------------------------------------------------------------------------------------
WITH
x6 AS (
  -- Select min priced ticket of X6
  -- Convert kiwi price in Euro int US Dallars
  SELECT ticket_id,
    ANY_VALUE(dt_of_issue) AS dt_of_issue,
    ANY_VALUE(first_flight_date_utc) AS first_flight_date_utc,
    ANY_VALUE(leadtime) AS leadtime,
    ANY_VALUE(region_pair) AS region_pair,
    ANY_VALUE(od_mile)*1.60934 AS od_km,
    ANY_VALUE(nb_legs) AS nb_legs,
    ANY_VALUE(sumP) AS sumP,
    ANY_VALUE(FILE_SOURCE) AS FILE_SOURCE,
    ANY_VALUE(op_carrier) AS op_carrier,
    MIN(price*fx) AS price
  FROM matching.X6 it
  LEFT JOIN generic.ext_EURUSD eurusd
  ON it.dt_of_issue = eurusd.date
  --WHERE first_flight_date_utc = '{{ params.date }}'
  GROUP BY ticket_id
),

on_time_x6 AS (
  -- Removes tickets that arrive after publication date
  SELECT *
  FROM x6 it
  LEFT JOIN generic.ext_file_source_log log
  ON it.FILE_SOURCE = log.FILE_SOURCE
  ---because historical data has no file source, and we accept all historical data
  ---we set their last date as beginning of time
  WHERE first_flight_date_utc > IFNULL(Last_day, CAST("1900-01-01" as date))

),

spot AS (
  SELECT * FROM generic.spot_window_regions_ext
),

rrpk_iata_model AS (
  -- Select last coefficient of model
  SELECT a,b,log_tol
  FROM generic.iata_rrpk_filter_model
  ORDER BY last_update DESC
  LIMIT 1
),

fd_range AS (
  SELECT
    DATE_ADD(f_issue,INTERVAL max_leadtime DAY) AS min_fd,
    DATE_ADD(l_issue, INTERVAL min_leadtime DAY) AS max_fd
  FROM (
    SELECT
      MIN(dt_of_issue) AS f_issue, MAX(dt_of_issue) AS l_issue,
      MIN(min_leadtime) AS min_leadtime, MAX(max_leadtime) AS max_leadtime
    FROM x6, spot
  )
),

filtered_x6 AS (
  -- Reference: I1
  -- filter flight date comming from a complete sample
  -- apply spot window filtering
  SELECT x6_minp.*,
    IF( d.divisor_code IS NOT NULL, x6_minp.price, NULL ) as price_excluded,
    IF( d.divisor_code IS NULL, x6_minp.price, NULL ) as skytra_index_adjusted
  FROM (
      -- identify day of the week for flight date
      SELECT *, EXTRACT(DAYOFWEEK FROM first_flight_date_utc) AS index_day
      FROM on_time_x6,fd_range
      -- filter flight_date for which we have a complete spot window sample
      WHERE first_flight_date_utc >= min_fd
      AND first_flight_date_utc <= max_fd
  ) x6_minp
  INNER JOIN spot
    ON x6_minp.region_pair = spot.region_pair
    AND x6_minp.index_day = spot.index_day
  LEFT JOIN generic.divisor_exclusions d
    ON  d.divisor_code in UNNEST( SPLIT(x6_minp.op_carrier,',') )
    AND x6_minp.region_pair = d.attribute1
    AND CURRENT_DATE between d.start_date_ELT and COALESCE(d.end_date_ELT, '2099-12-31')
    AND CASE d.date_join_type
      WHEN 'dt_of_issue' THEN x6_minp.dt_of_issue between d.start_date_DOI and COALESCE(d.end_date_DOI, DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY) )
      WHEN 'first_flight_date' THEN x6_minp.first_flight_date_utc between d.start_date_FD and COALESCE(d.end_date_FD, DATE_SUB(CURRENT_DATE, INTERVAL 1 DAY) )
      ELSE 1 = 1
    END
    AND d.divisor_type = 'airline'
  WHERE leadtime >= min_leadtime
  AND leadtime <= max_leadtime
),

filtered_x6_s AS (
  -- Subset of filtered X6 restricted to the main Skytra region
  SELECT *
  FROM filtered_x6
  WHERE SPLIT(region_pair,'-')[OFFSET(0)] IN ('Asia/Pacific','Europe','North America')
  AND   SPLIT(region_pair,'-')[OFFSET(1)] IN ('Asia/Pacific','Europe','North America')
),

index_nleg AS (
  -- References: I2, I3
  -- Collect both IATA and Combo flown indexes
  -- As a function of regions, first_flight_date_utc and nb of legs
  -- Calculate Pricing coverage
  SELECT
    I_ind.region_pair, I_ind. first_flight_date_utc,
    iata_index, skytra_index,
    iata_rpk, skytra_rpk,
    iata_tickets, IFNULL(skytra_tickets,0) AS skytra_tickets,
    IF(skytra_rpk IS NULL,0,iata_rpk) AS w_leg
  FROM (
    -- Compute the RRPK on IATA data
       -- included ticket unpriced with Kiwi
       -- exclude iata tickets with bad prices
    -- Also count number of ticket for good measure
    SELECT
      iata_pop.*,iata_index
    FROM (
      SELECT
        region_pair, first_flight_date_utc, nb_legs,
        SUM(od_km) AS iata_rpk,            -- Reference: I2
        COUNT(*) AS iata_tickets
      FROM filtered_x6
      GROUP BY region_pair,  first_flight_date_utc, nb_legs
    ) iata_pop
    LEFT JOIN (
      SELECT
        region_pair, first_flight_date_utc, nb_legs,
        SUM(sumP)/SUM(od_km) AS iata_index -- Reference: I3
      FROM filtered_x6,rrpk_iata_model
      WHERE sump > 0
      -- apply model filter here
      AND ABS(LOG(sump/od_km,10) - LOG(a/od_km + b,10)) <= log_tol
      GROUP BY region_pair,  first_flight_date_utc, nb_legs
    ) iata_rrpk
    ON iata_pop.region_pair = iata_rrpk.region_pair
    AND iata_pop.first_flight_date_utc = iata_rrpk.first_flight_date_utc
    AND iata_pop.nb_legs = iata_rrpk.nb_legs
  ) AS I_ind
  LEFT JOIN (
    -- Compute the RRPK on priced IATA data
    -- Also count number of ticket for good measure
    SELECT
      region_pair,  first_flight_date_utc, nb_legs,
      SUM(price)/SUM(od_km) As skytra_index, -- Reference: I3
      SUM(od_km) AS skytra_rpk,                 -- Reference: I2
      SUM(skytra_index_adjusted) AS skytra_index_adjusted,
      COUNT(*) AS skytra_tickets
    FROM filtered_x6
    -- filter out unmatched ticket for skytra index
    WHERE price IS NOT NULL
    AND price > 0
    GROUP BY region_pair,  first_flight_date_utc , nb_legs
  ) AS S_ind
  ON S_ind.region_pair = I_ind.region_pair
  AND S_ind.first_flight_date_utc = I_ind.first_flight_date_utc
  AND S_ind.nb_legs = I_ind.nb_legs
  ORDER BY I_ind.first_flight_date_utc, I_ind.region_pair
),

windex_nleg AS (
  -- References: I2, I3
  -- Collect both IATA and Combo flown indexes
  -- As a function of regions, first_flight_date_utc and nb of legs
  -- Calculate Pricing coverage
  SELECT
    'World-World' AS region_pair, I_ind.first_flight_date_utc,
    iata_index, skytra_index,
    iata_rpk, skytra_rpk,
    iata_tickets, IFNULL(skytra_tickets,0) AS skytra_tickets,
    IF(skytra_rpk IS NULL,0,iata_rpk) AS w_leg
  FROM (
    -- Compute the RRPK on IATA data
       -- included ticket unpriced with Kiwi
       -- exclude iata tickets with bad prices
    -- Also count number of ticket for good measure
    SELECT
      iata_pop.*,iata_index
    FROM (
      SELECT
        first_flight_date_utc, nb_legs,
        SUM(od_km) AS iata_rpk,              -- Reference: I2
        COUNT(*) AS iata_tickets
      FROM filtered_x6
      GROUP BY first_flight_date_utc, nb_legs
    ) iata_pop
    LEFT JOIN (
      SELECT
        first_flight_date_utc, nb_legs,
        SUM(sumP)/SUM(od_km) AS iata_index   -- Reference: I3
      FROM filtered_x6,rrpk_iata_model
      WHERE sump > 0
      -- apply model filter here
      AND ABS(LOG(sump/od_km,10) - LOG(a/od_km + b,10)) <= log_tol
      GROUP BY first_flight_date_utc, nb_legs
    ) iata_rrpk
    ON  iata_pop.first_flight_date_utc = iata_rrpk.first_flight_date_utc
    AND iata_pop.nb_legs = iata_rrpk.nb_legs
  ) AS I_ind
  LEFT JOIN (
    -- Compute the RRPK on priced IATA data
    -- Also count number of ticket for good measure
    SELECT
      first_flight_date_utc, nb_legs,
      SUM(price)/SUM(od_km) As skytra_index, -- Reference: I3
      SUM(od_km) AS skytra_rpk,              -- Reference: I2
      SUM(skytra_index_adjusted) AS skytra_index_adjusted,
      COUNT(*) AS skytra_tickets
    FROM filtered_x6
    -- filter out unmatched ticket for skytra index
    WHERE price IS NOT NULL
    AND price > 0
    GROUP BY first_flight_date_utc , nb_legs
  ) AS S_ind
  ON  S_ind.first_flight_date_utc = I_ind.first_flight_date_utc
  AND S_ind.nb_legs = I_ind.nb_legs
),

sindex_nleg AS (
  -- References: I2, I3
  -- Collect both IATA and Combo flown indexes
  -- As a function of regions, first_flight_date_utc and nb of legs
  -- Calculate Pricing coverage
  SELECT
    'Skytra-World' AS region_pair, I_ind.first_flight_date_utc,
    iata_index, skytra_index,
    iata_rpk, skytra_rpk,
    iata_tickets, IFNULL(skytra_tickets,0) AS skytra_tickets,
    IF(skytra_rpk IS NULL,0,iata_rpk) AS w_leg
  FROM (
    -- Compute the RRPK on IATA data
       -- included ticket unpriced with Kiwi
       -- exclude iata tickets with bad prices
    -- Also count number of ticket for good measure
    SELECT
      iata_pop.*,iata_index
    FROM (
      SELECT
        first_flight_date_utc, nb_legs,
        SUM(od_km) AS iata_rpk,              -- Reference: I2
        COUNT(*) AS iata_tickets
      FROM filtered_x6_s
      GROUP BY first_flight_date_utc, nb_legs
    ) iata_pop
    LEFT JOIN (
      SELECT
        first_flight_date_utc, nb_legs,
        SUM(sumP)/SUM(od_km) AS iata_index   -- Reference: I3
      FROM filtered_x6_s,rrpk_iata_model
      WHERE sump > 0
      -- apply model filter here
      AND ABS(LOG(sump/od_km,10) - LOG(a/od_km + b,10)) <= log_tol
      GROUP BY first_flight_date_utc, nb_legs
    ) iata_rrpk
    ON  iata_pop.first_flight_date_utc = iata_rrpk.first_flight_date_utc
    AND iata_pop.nb_legs = iata_rrpk.nb_legs
  ) AS I_ind
  LEFT JOIN (
    -- Compute the RRPK on priced IATA data
    -- Also count number of ticket for good measure
    SELECT
      first_flight_date_utc, nb_legs,
      SUM(price)/SUM(od_km) As skytra_index, -- Reference: I3
      SUM(od_km) AS skytra_rpk,              -- Reference: I2
      SUM(skytra_index_adjusted) AS skytra_index_adjusted,
      COUNT(*) AS skytra_tickets
    FROM filtered_x6_s
    -- filter out unmatched ticket for skytra index
    WHERE price IS NOT NULL
    AND price > 0
    GROUP BY first_flight_date_utc , nb_legs
  ) AS S_ind
  ON  S_ind.first_flight_date_utc = I_ind.first_flight_date_utc
  AND S_ind.nb_legs = I_ind.nb_legs
)

--uni2 AS ( select CAST( CAST( FORMAT_TIMESTAMP('%Y%m%d%H%M%E3S', CURRENT_TIMESTAMP) as NUMERIC) * 1000 as INT64) as iuid ),
--ptn  AS ( select DATE_ADD(CURRENT_DATE(), INTERVAL 1 DAY) as tomoz )

-- renormalatse indexes with the sum of weights to define indexes as weighted averages
-- calculate coverage by region and first_flight_date_utc
-- Change back first_flight_date_utc to first_flight_date
-- Weigth RRPK average by iata_rpk (Set weight to 0 for skytra_index if skytra_rpk is NULL)
-- Reference: I4

--SELECT iuid AS pl_id, * EXCEPT(iuid) FROM (
  SELECT
  --it is not possible to pass airflow XCOM variables as a parameter as we do for standard python variables
  -- therefore have to take more direct task_instance-level approach (slightly inferior/less abstraction)
    {{ ti.xcom_pull('Get-TsX7')[0] }} AS pl_id,
    nlegs.region_pair,  nlegs.first_flight_date_utc AS first_flight_date,
    CAST( ( SUM(iata_rpk*iata_index)/SUM(iata_rpk) ) as NUMERIC) AS iata_index,
    CAST( (  SUM(w_leg*skytra_index)/SUM(w_leg) ) as NUMERIC) as skytra_index_unadjusted,
    CAST( (  SUM(w_leg*skytra_index_adjusted)/SUM(w_leg) ) as NUMERIC) as skytra_index_adjusted,
    COALESCE(d.divisor_value,1) as divisor_value,
    CAST( (  ( SUM(w_leg*skytra_index_adjusted)/SUM(w_leg) ) / COALESCE(d.divisor_value,1) ) as NUMERIC) AS skytra_index,
    CAST( SUM(iata_rpk) as NUMERIC) AS iata_rpk,
    CAST( SUM(skytra_rpk) as NUMERIC) AS skytra_rpk,
    SUM(iata_tickets) AS iata_tickets,
    SUM(skytra_tickets) AS skytra_tickets,
    CAST( ( 100.*SUM(skytra_tickets)/SUM(iata_tickets) ) as NUMERIC)  AS skytra_coverage
    --, '' as metric_code, CAST(0.0 as NUMERIC) as metric_value
  FROM (
    SELECT * FROM index_nleg
    UNION ALL
    SELECT * FROM windex_nleg
    UNION ALL
    SELECT * FROM sindex_nleg
  ) nlegs
  LEFT JOIN generic.divisor_keys_airline d on nlegs.first_flight_date_utc = d.first_flight_date and nlegs.region_pair = d.region_pair
  GROUP BY region_pair, first_flight_date_utc
  /*
  UNION ALL

  SELECT '' as region_pair, ptn.tomoz as first_flight_date,
    0 as iata_index,
    0 as skytra_index,
    0 as iata_rpk,
    0 as skytra_rpk,
    NULL as iata_tickets,
    NULL as skytra_tickets,
    0 as skytra_coverage
    --, 'log.proc_load' as metric_code, CAST(0.0 as NUMERIC) as metric_value
  FROM ptn
  ORDER BY region_pair, first_flight_date
), uni2
*/