IN-1487: No effect test Stratus vs BA
===

In [1]:
import pandas as pd
import sys,os
sys.path.append(os.path.join('..','py_modules'))
from skytra_noeffect_test import *

In [4]:
i1_uni = {"ticket_id":"ticket_id","segment_id":"segment_id"}
i1_cat = {"dt_of_issue":"dt_of_issue",
          "leadtime":"leadtime",
          "nb_legs":"nb_legs",
          "region_pair":"region_pair",
          "flight_datetime_utc":"flight_datetime_utc",
          "flight_datetime_local":"flight_datetime_local",
          "leg_map":"leg_map",
          "classless_leg_map":"classless_leg_map",
         "operating_carrier":"operating_carrier",
          "mkt_carrier_code":"mkt_carrier_code",
          "distribution_channel":"distribution_channel",
          "source_code":"source_code",
          "FILE_SOURCE":"FILE_SOURCE"
         }
i1_con = {"reg_seg_fare":"reg_seg_fare","segment_mile":"segment_mile","ticket_document_amount":"ticket_document_amount"}
test_table("iata.PROD_I1","iata.I1",i1_uni,i1_cat,i1_con,p_filter ="WHERE dt_of_issue >'1970-01-01'")

Test underway...
Test failed with 44441895 errors

    id                                   test  nb_errors     per_error
0    1         Missing rows from iata.PROD_I1   44032143  9.036951e+00
1    2              Missing rows from iata.I1     389498  7.993875e-02
2    3      Duplicated rows from iata.PROD_I1          0  0.000000e+00
3    4           Duplicated rows from iata.I1          0  0.000000e+00
4    5             Column dt_of_issue differs          0  0.000000e+00
5    6                Column leadtime differs          0  0.000000e+00
6    7                 Column nb_legs differs          0  0.000000e+00
7    8             Column region_pair differs          0  0.000000e+00
8    9     Column flight_datetime_utc differs       6750  1.524308e-03
9   10   Column flight_datetime_local differs          0  0.000000e+00
10  11                 Column leg_map differs       6750  1.524308e-03
11  12       Column classless_leg_map differs       6750  1.524308e-03
12  13       Column operating_carrier differs          4  9.032935e-07
13  14        Column mkt_carrier_code differs          0  0.000000e+00
14  15    Column distribution_channel differs          0  0.000000e+00
15  16             Column source_code differs          0  0.000000e+00
16  17             Column FILE_SOURCE differs          0  0.000000e+00
17  18            Column reg_seg_fare differs          0  0.000000e+00
18  19            Column segment_mile differs          0  0.000000e+00
19  20  Column ticket_document_amount differs          0  0.000000e+00

In [9]:
show_diff("iata.PROD_I1","iata.I1",i1_uni,{"classless_leg_map":"classless_leg_map","flight_datetime_local":"flight_datetime_local","flight_datetime_utc":"flight_datetime_utc"},{},p_filter ="WHERE dt_of_issue >'1970-01-01'")

,ticket_id,segment_id,classless_leg_map_1,classless_leg_map_2,flight_datetime_local_1,flight_datetime_local_2,flight_datetime_utc_1,flight_datetime_utc_2
0,2001154569200085407,2,202005291330_CMN-TUN,202005291430_CMN-TUN,2020-05-29 14:30:00,2020-05-29 14:30:00,2020-05-29 13:30:00+00:00,2020-05-29 14:30:00+00:00
1,2004555335800062107,3,202005250930_CMN-JED,202005251030_CMN-JED,2020-05-25 10:30:00,2020-05-25 10:30:00,2020-05-25 09:30:00+00:00,2020-05-25 10:30:00+00:00
2,2002954980400054139,3,202005270905_CMN-CDG,202005271005_CMN-CDG,2020-05-27 10:05:00,2020-05-27 10:05:00,2020-05-27 09:05:00+00:00,2020-05-27 10:05:00+00:00
3,2002754930000014536,1,202005301230_CMN-CAI,202005301330_CMN-CAI,2020-05-30 13:30:00,2020-05-30 13:30:00,2020-05-30 12:30:00+00:00,2020-05-30 13:30:00+00:00
4,2004255267800458144,2,202005291355_CMN-DXB,202005291455_CMN-DXB,2020-05-29 14:55:00,2020-05-29 14:55:00,2020-05-29 13:55:00+00:00,2020-05-29 14:55:00+00:00
...,...,...,...,...,...,...,...,...
95,2005055440800136373,2,202005281500_CMN-RAK,202005281600_CMN-RAK,2020-05-28 16:00:00,2020-05-28 16:00:00,2020-05-28 15:00:00+00:00,2020-05-28 16:00:00+00:00
96,2003855188900009348,3,202005251355_CMN-DXB,202005251455_CMN-DXB,2020-05-25 14:55:00,2020-05-25 14:55:00,2020-05-25 13:55:00+00:00,2020-05-25 14:55:00+00:00
97,2006655790800031924,2,202005300955_RAK-GVA,202005301055_RAK-GVA,2020-05-30 10:55:00,2020-05-30 10:55:00,2020-05-30 09:55:00+00:00,2020-05-30 10:55:00+00:00
98,2007200000000492660,2,202005271750_RAK-LGW,202005271850_RAK-LGW,2020-05-27 18:50:00,2020-05-27 18:50:00,2020-05-27 17:50:00+00:00,2020-05-27 18:50:00+00:00
99,2005755596200034761,2,202005271210_RAK-GVA,202005271310_RAK-GVA,2020-05-27 13:10:00,2020-05-27 13:10:00,2020-05-27 12:10:00+00:00,2020-05-27 13:10:00+00:00